
<div class="card" *ngIf="modalType === 'createOrEdit'">
  <app-image-cropper (imageBase64)="imgSelect($event)" (imageFile)="imageFile($event)" [imageIn]="imageIn"></app-image-cropper>
  <form [formGroup]="formData">
    <div class="row card-body">
      <div class="form-group col-sm-6">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" formControlName="name">
      </div>
      <div class="form-group col-sm-6">
        <label for="description">Descripción</label>
        <textarea id="description" name="description" rows="3" placeholder="Descripción..." class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group col-sm-6">
        <label for="travelServices">Servicios turísticos</label>
        <input type="text" class="form-control" id="travelServices" placeholder="Ingresa tus servicios turísticos" formControlName="travelServices">
      </div>
      <div class="form-group col-sm-6">
        <label for="latitude">Latitud</label>
        <input type="text" class="form-control" id="latitude" placeholder="Ingresa tu ubicación" formControlName="latitude">
      </div>
      <div class="form-group col-sm-6">
        <label for="longitude">longitud</label>
        <input type="text" class="form-control" id="longitude" placeholder="Ingresa tu ubicación" formControlName="longitude">
      </div>
      <div class="form-group col-sm-6">
        <label for="demonym">Gentilicio</label>
        <input type="text" class="form-control" id="demonym" placeholder="Ingresa tu gentilicio" formControlName="demonym">
      </div>
      <div class="form-group col-sm-6">
        <label for="zone">Zona</label>
        <input type="text" class="form-control" id="zone" placeholder="Ingresa tu zona" formControlName="zone">
      </div>
      <div class="form-group col-sm-6">
        <label for="website">Sitio web</label>
        <input type="text" class="form-control" id="website" placeholder="Ingresa tu Sitio web" formControlName="website">
      </div>
      <div class="form-group col-sm-6">
        <label for="population">Población</label>
        <input type="text" class="form-control" id="population" placeholder="Ingresa la población" formControlName="population">
      </div>
      <div class="form-group col-sm-6">
        <label for="website">Sitio web</label>
        <input type="text" class="form-control" id="website" placeholder="Ingresa tu sitio web" formControlName="website">
      </div>
      <div class="form-group col-sm-6">
        <label for="holidays">Dias feriados</label>
        <input type="number" class="form-control" id="holidays" placeholder="Ingresa tu Dias feriados" formControlName="holidays">
      </div>
      <div class="form-group col-sm-6">
        <label for="weather">Clima</label>
        <input type="text" class="form-control" id="weather" placeholder="Clima" formControlName="weather">
      </div>
    </div>
  </form>
</div>
<div class="card" *ngIf="modalType === 'createMassive'">
  <form>
  <input type="file"
  id="file"
  (change)="handleFileInput($event.target.files)">
  </form>
</div>
<div class="row">
  <div class="offset-8 col-4 content-button-create">
    <button type="button" class="btn btn-pill btn-block btn-success" (click)="save()"><i class="fa fa-plus"></i> {{textbutton}}</button>
  </div>
</div>