<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Prestadores turísticos
    <div class="content-button-create d-flex">
      <button type="button" class="btn btn-pill btn-block btn-success" (click)="openModal(CreateProviders)"><i
          class="fa fa-plus"></i> Crear</button>
      <button type="button" class="btn btn-pill btn-block btn-success m-0"
        (click)="openModal(CreateProvidersMassive)"><i class="fa fa-plus"></i> Importar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Servicios</th>
          <th>Ciudad</th>
          <th>Celular</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let touristProvider of returnedArray">
          <td>{{touristProvider.name}}</td>
          <td>{{touristProvider.services}}</td>
          <td>{{touristProvider.township}}</td>
          <td>{{touristProvider.cellphone}}</td>
          <td>
            <div class="btn-group" dropdown container="body">
              <button id="button-container" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-container">
                <span>
                  Acciones
                </span>
                <span class="caret"></span>
              </button>
              <ul id="dropdown-container" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-container">
                <li role="menuitem" style="cursor:pointer">
                  <a class="dropdown-item" (click)="openModal(CreateProviders, touristProvider)">Editar</a>
                </li>
                <li role="menuitem" style="cursor:pointer">
                  <a class="dropdown-item" href="#">Desactivar</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [totalItems]="touristProvidersData.length" (pageChanged)="pageChanged($event)"
      [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate"></pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ➡️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ⬅️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #CreateProviders>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Crear Prestador Turistico</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-tourist-providers [modalType]="'createOrEdit'" [documentToEdit]="documentToEdit" (closeModal)="closeModal()"></app-create-tourist-providers>
  </div>
</ng-template>

<ng-template #CreateProvidersMassive>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Importar</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-tourist-providers [modalType]="'createMassive'" (closeModal)="closeModal()">
    </app-create-tourist-providers>
  </div>
</ng-template>