<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Municipios
    <div class="content-button-create d-flex">
      <button type="button" class="btn btn-pill btn-block btn-success" (click)="openModal(CreateProviders)"><i
          class="fa fa-plus"></i> Crear</button>
      <button type="button" class="btn btn-pill btn-block btn-success m-0"
        (click)="openModal(CreateProvidersMassive)"><i class="fa fa-plus"></i> Importar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Zona</th>
          <th>Clima</th>
          <th>población</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let touristProvider of returnedArray">
          <td>{{touristProvider.name}}</td>
          <td>{{touristProvider.zone}}</td>
          <td>{{touristProvider.weather}}</td>
          <td>{{touristProvider.population}}</td>
          <!-- <td>
            <span class="badge badge-success">Active</span>
          </td> -->
        </tr>
      </tbody>
    </table>
    <pagination [totalItems]="touristProvidersData.length" (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate"
    [customNextTemplate]="nextTemplate"></pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ➡️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ⬅️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #CreateProviders>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Crear municipio</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-townships [modalType]="'create'" (closeModal)="closeModal()"></app-create-townships>
  </div>
</ng-template>

<ng-template #CreateProvidersMassive>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Importar</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-townships [modalType]="'createMassive'" (closeModal)="closeModal()"></app-create-townships>
  </div>
</ng-template>
