
<div class="card" *ngIf="modalType === 'createOrEdit'">
  <app-image-cropper (imageBase64)="imgSelect($event)" (imageFile)="imageFile($event)" [imageIn]="imageIn"></app-image-cropper>
  <form [formGroup]="formData">
    <div class="row card-body">
      <div class="form-group col-sm-6">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" formControlName="name">
      </div>
      <div class="form-group col-sm-6">
        <label for="description">Descripción</label>
        <textarea id="description" name="description" rows="3" placeholder="Descripción..." class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group col-sm-6">
        <label for="services">Servicios</label>
        <input type="text" class="form-control" id="services" placeholder="Ingresa tus servicios" formControlName="services">
      </div>   
      <div class="form-group col-sm-6">
        <label for="rnt">RNT</label>
        <input type="number" class="form-control" id="rnt" placeholder="RNT" formControlName="rnt">
      </div>
      <div class="form-group col-sm-6">
        <label for="zone">Zona</label>
        <input type="text" class="form-control" id="zone" placeholder="Ingresa tu zona" formControlName="zone">
      </div>
      <div class="form-group col-sm-6">
        <label for="township">Ciudad</label>
        <input type="text" class="form-control" id="township" placeholder="Ingresa tu ciudad" formControlName="township">
      </div>
      <div class="form-group col-sm-6">
        <label for="address">Dirección</label>
        <input type="text" class="form-control" id="address" placeholder="Ingresa tu dirección" formControlName="address">
      </div>
      <div class="form-group col-sm-6">
        <label for="indications">Indicaciones</label>
        <input type="text" class="form-control" id="indications" placeholder="Ingresa tu indicaciones" formControlName="indications">
      </div>
      <div class="form-group col-sm-6">
        <label for="cellphone">Celular</label>
        <input type="number" class="form-control" id="cellphone" placeholder="Ingresa tu celular" formControlName="cellphone">
      </div> 
      <div class="form-group col-sm-6">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control" id="facebook" placeholder="Ingresa tu facebook" formControlName="facebook">
      </div>
      <div class="form-group col-sm-6">
        <label for="instagram">Instagram</label>
        <input type="text" class="form-control" id="instagram" placeholder="Ingresa tu Instagram" formControlName="instagram">
      </div>
      <div class="form-group col-sm-6">
        <label for="website">Sitio web</label>
        <input type="text" class="form-control" id="website" placeholder="Ingresa tu sitio web" formControlName="website">
      </div>
      <div class="form-group col-sm-6">
        <label for="email">Correo</label>
        <input type="text" class="form-control" id="email" placeholder="Correo" formControlName="email">
      </div>
      <div class="form-group col-sm-6">
        <label for="aditionalInformation">Información Adicional</label>
        <textarea id="aditionalInformation" name="aditionalInformation" rows="3" placeholder="Información Adicional" class="form-control" formControlName="aditionalInformation"></textarea>
      </div>  
    </div>
  </form>
  <app-drag-and-drop
    (sendFile)="receivedFile($event)"
    (delete)="deleteFile($event)"
    [filesInput]="galeryUrl"
  ></app-drag-and-drop>
</div>
<div class="card" *ngIf="modalType === 'createMassive'">
  <form>
  <input type="file"
  id="file"
  (change)="handleFileInput($event.target.files)">
  </form>
</div>
<div class="row">
  <div class="offset-8 col-4 content-button-create">
    <button type="button" class="btn btn-pill btn-block btn-success" (click)="save()"><i class="fa fa-plus"></i> {{textbutton}}</button>
  </div>
</div>